{% extends 'mainapp/layout.html' %}

{% block title %}Main(Django){% endblock %}

{% block content %}
<h2>Crypto & Stocks & FX Dashboard (Django)</h2>
    <table border="1">
        <tr>
            <th>Instrument Type</th>
            <th>Symbol</th>
            <th> </th>
            <th>Price</th>
        </tr>
        <tr>
            <td>
                Crypto Symbol:
            </td>
            <form method="get">
                {% csrf_token %}
                <td>
                    <input type="search" id='crypto_symbol_search' list ="crypto_symbol_list" name="symbol" value="{{ crypto_symbol }}">
                </td>
                <td>
                    <button type="submit" name="action" value="crypto">Show</button>
                </td>
            </form>

            <th>
                {{ price_crypto }}
            </th>
        </tr>
        <tr>
            <td>
                Stock Symbol:
            </td>
            <form method="get">
                {% csrf_token %}
                <td>
                    <input type="search" id='crypto_stock_search' list ="crypto_stock_list" name="stock_symbol" value="{{ stock_symbol }}">
                </td>
                <td>
                    <button type="submit" name="action" value="stock">Show</button>
                </td>
            </form>
            <th>
                {{ price_stock }}
            </th>
        </tr>
        <form method="get">
            {% csrf_token %}
            <tr>
                <td>
                    First Currency:
                </td>
                <td>
                    <input name="first_currency" value="{{ first_currency }}">
                </td>
                <td rowspan="2">
                    <button type="submit" name="action" value="forex">Show</button>
                </td>
                <th rowspan="2">
                    {{ price_forex }}
                </th>
            </tr>
            <tr>
                <td>Second Currency:</td>
                <td><input name="second_currency" value="{{ second_currency }}"></td>
            </tr>
        </form>
    </table>
        <br>
    <datalist id="crypto_symbol_list">
        {% for row in all_crypto_symbols %}
        <option value="{{row.symbol}}"></option>
        {% endfor %}
    </datalist>
    <datalist id="crypto_stock_list">
        {% for row in all_stock_symbols %}
        <option value="{{row.symbol}}"></option>
        {% endfor %}
    </datalist>
{% endblock %}