{% extends 'mainapp/layout.html' %}

{% block title %}Main(Django){% endblock %}

{% block content %}
<h2 id="testhead">Crypto & Stocks & FX Dashboard (Django)</h2>
    <table border="1">
        <tr>
            <th>Instrument Type</th>
            <th>Symbol</th>
            <th> </th>
            <th>Price</th>
        </tr>
        <tr>
            <td>
                Crypto Symbol:
            </td>
            <td>
                <form method="get">
                    <input type="search" id='crypto_symbol_search' name="crypto_symbol" placeholder="Enter crypto symbol here ...">
                    <ul id = "crypto_symbol_suggestions" class = "suggestions"></ul>
                </form>
            </td>
            <td>
                <button type="submit" id = 'crypto_submit_button'>Show</button>
            </td>
            <th>
                <span id = "price_crypto_date"></span>
            </th>
        </tr>
        <tr>
            <td>
                Stock Symbol:
            </td>
            <td>
                <form method="get">
                    <input type="search" id='stock_symbol_search' name="stock_symbol" placeholder="Enter stock symbol here ...">
                    <ul id = "stock_symbol_suggestions" class = "suggestions"></ul>
                </form>
            </td>
            <td>
                <button type="submit" id = 'stock_submit_button'>Show</button>
            </td>
            <th>
                <span id = "price_stock_date"></span>
            </th>
        </tr>
        <tr>
            <td>First Currency:</td>
            <td>
                <form method="get">
                    <input type="search" id='fccy_symbol_search' name="first_currency" placeholder="Enter currency symbol here ...">
                    <ul id = "fccy_symbol_suggestions" class = "suggestions"></ul>
                </form>
            </td>
            <td rowspan="2">
                <button type="submit" id = "ccy_submit_button">Show</button>
            </td>
            <th rowspan="2">
                <span id = "price_ccy_date"></span>
            </th>
        </tr>
        <tr>
            <td>Second Currency:</td>
            <td>
                <form method="get">
                    <input type="search" id='sccy_symbol_search' name="second_currency" placeholder="Enter currency symbol here ...">
                    <ul id = "sccy_symbol_suggestions" class = "suggestions"></ul>
                </form>
            </td>
        </tr>
    </table>
        <br>
{% load static %}
<script type="text/javascript" src="{% static 'mainapp/js/index.js' %}"></script>
{% endblock %}